@{
    ViewData["Title"] = "Room1";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till det första rummet</h1>
    <button>Game</button>

    <a id="goToRoom2" class="btn btn-primary">
        Room 2
    </a>

</div>